.thankyou {
  display: flex;
  font-size: 1.15em;
  border-radius: 10px;
  box-shadow: 10px 10px var(--black-faded);
  background-color: var(--purple-main);
}
.thankyou-paragraph {
  padding: 20px 10px;
}

@media only screen and (max-width: 500px) {
  .thankyou {
    margin-top: 20px;
  }
}