.project-form-container {
  background-color: hsl(0, 0%, 80%);
  border-radius: 20px;
}
.project-search-container {
  background-color: white;
  display: flex;
  width: 50%;
  margin: 0 auto;
  border: 2px solid hsl(0, 0%, 80%);
}
.project-search-container:hover, .project-search-container:focus-visible {
  border: 2px solid hsl(0, 0%, 40%);
}
#project-search-form {
  border: none;
  flex-grow: 1;
  line-height: 1.5rem;
  font-size: 1.25rem;
  padding: 0 2px;
}
#project-search-form:focus-visible {
  outline: none;
}
.search-icon-container {
  cursor: pointer;
  padding: 5px;
  border: none;
  background-color: white;
}
.search-icon-container:active {
  background-color: hsl(0, 0%, 80%);
}
.search-icon {
  font-size: 1.5rem;
  vertical-align: middle;
}
#form-controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  place-items: normal start;
  margin: 1rem 15%;
}
.text-align-center {
  text-align: center;
}
#filter-container {
  margin: 0 1rem;
}
.filter-controls {
  display: flex;
}
.flex-direction-col {
  flex-direction: column;
  flex-wrap: wrap;
}
.tech {
  max-height: 5rem;
}
.tech div {
  padding: 0 0.75rem 0 0.25rem;
}

/* media query */

@media only screen and (max-width: 860px) {
  .project-search-container {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  #form-controls {
    place-items: normal start;
    margin: 1rem;
  }
  #filter-container {
    padding: 5px 0;
  }
}