.about-subtitle {
  padding: 10px 0;
  scroll-margin-top: 1em;
}
.about-paragraph {
  margin: 10px 0;
  line-height: 2em;
}

/* media queries */
@media only screen and (max-width: 860px) {
  #aboutLink {
    margin-top: 45px;
  }
}