#projectFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.project-tile {
  background: white;
  padding: 20px;
  margin: 10px 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 25%;
  justify-content: space-around;
  text-align: center;
}
.project-title {
  text-align: center;
}
.project-desc {
  line-height: 1.5rem;
}
.project-link {
  text-decoration: none;
  text-align: center;
  padding: 5px 0;
}
.project-tags {
  padding: 5px 0;
  text-align: center;
}
.project-stars {
  text-align: center;
}
.project-tile:hover {
  background: rgb(212, 214, 232);
}
.project-link:hover {
  background: hsl(234, 30%, 70%);
  border-radius: 5px;
}

/* media query */

@media only screen and (max-width: 860px) {
  #projectFlex {
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0 1px;
  }
  .project-tile {
    padding: 20px 0;
    margin: 10px 0;
    border-radius: 0; 
    width: 100%;
  }
}