#projectFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.project-tile {
  /* background: linear-gradient(
    to top,
    rgba(77, 77, 77, 1) -50%,
    rgb(46, 161, 20) 100%
  ); */
  background: white;
  padding: 20px;
  margin: 10px 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 25%;
  justify-content: space-evenly;
}
.project-title {
  text-align: center;
  /* width: 50%; */
}
.project-desc {
  line-height: 1.5rem;
}
.project-link {
  text-decoration: none;
  padding: 5px 0;
}
.project-tags {
  padding: 5px 0;
  text-align: center;
}
.project-stars {
  text-align: center;
}
.project-tile:hover {
  background: rgb(212, 214, 232);
}
.project-link:hover {
  background: hsl(234, 30%, 70%);
  border-radius: 5px;
}

/* media query */

@media only screen and (max-width: 860px) {
  .project-tile {
    width: 100%;
  }
}