#navbar {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  grid-row: 1 / 1;
  z-index: 10;
}
.navbar-background {
  background-image: url("../../../images/dark_forest_background.jpg");
  background-size: 100%;
}
.nav-ul {
  position: static;
  margin: 0;
  padding: 0;
}
.nav-flex-left {
  display: flex;
  align-items: flex-start;
}
.nav-flex-right {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}
.nav-center {
  margin: auto;
}
.nav-li {
  padding: 25px 0;
  list-style-type: none;
}
.nav-link {
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 500;
  color: white;
}
.nav-linkActive {
  /* this combination of background-color and box-shadow gives a thick shade of box-shadow 
  and contrasting effect in the middle with background-color.  */
  color: red;
}
.nav-link:hover {
  color: red;
}

/*  Media Queries  */

.navbar-burger {
  margin: 0 auto;
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 860px) {
  #navbar {
    height: auto;
  }
  .navbar-background:hover {
    background: linear-gradient(
      to bottom,
      hsl(0, 0%, 50%) 0%,
      rgb(46, 255, 20) 100%
    );
  }
  .nav-ul {
    width: 100%;
  }
  .nav-flex-left {
    display: none;
    flex-direction: column;
    justify-items: center;
    width: 100%;
  }
  .nav-li,
  .nav-link {
    display: block;
    width: 100%;
  }
  .nav-li {
    padding: 0;
    text-align: center;
  }
  .nav-link,
  .nav-linkActive,
  .nav-link:hover {
    border-radius: 0;
  }
  .navbar-burger {
    display: block;
  }
}
.displayBlock {
  display: block;
}
