/* Generic Classes */
.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.25s ease-in;
  animation-duration: 1.5s;
  opacity: 0;
  margin-bottom: 30px;
}
.section-title {
  text-align: center;
  font-size: 2.5rem;
  color: var(--white);
  background-color: var(--section-bg-alt2);
  width: 100%;
  margin-bottom: 30px;
  padding: 10px 0;
  box-shadow: 0 10px 10px var(--black-main);
}

@media only screen and (max-width: 860px) {
  #container {
    padding-top: 50px;
  }
}