/* Generic animations */
@keyframes section {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Generic Classes */
.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .25s ease-in;
  animation-duration: 1.5s;
}
.section-title {
  text-align: center;
  font-size: 2.5rem;
  color: var(--white);
  background-color: var(--section-bg-alt2);
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 10px 10px var(--black-faded);
}
.text-container {
  margin: 0 20%;
  padding: 0 5%;
}