/* This removes the 20% margin to the left and right side from main.css */
#main {
    margin: 0
}

.projects-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projectFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}