.home-container {
  margin: 0 25%;
}
.home-section {
  margin: 0 10%;
  background-color: hsl(0, 0%, 80%);
  border-radius: 20px;
  padding: 0 5%;
}

.home-title {
  text-align: center;
  font-size: 2.5rem;
  background-color: white;
  margin: 20px 0;
}
.home-subtitle {
  padding: 10px 0;
  scroll-margin-top: 1em;
}
.home-paragraph {
  margin: 10px 0;
  line-height: 2em;
}
