.home-container {
  margin: 0 25%;
  
}
.home-section {
  margin: 0 10%;
  border-radius: 20px;
  background-color: hsl(0, 0%, 80%);
  padding: 0 5%;
}
.home-title {
    text-align: center;
    padding: 20px;
    font-size: 2.5rem;
    background-color: white;
}
.home-subtitle {
padding: 10px 0;
}
.home-paragraph {
    margin: 10px 0;
    line-height: 2em;
}