.project-tile {
  background: linear-gradient(
    to top,
    rgba(77, 77, 77, 1) -50%,
    rgb(46, 161, 20) 100%
  );
  padding: 20px;
  margin: 10px 1px;
  border-radius: 10px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.project-desc {
  line-height: 1.5rem;
}
.project-link {
  text-decoration: none;
  padding: 5px 0;
}
.project-tags {
  padding: 5px 0;
}
.project-tile:hover {
  background: rgb(212, 214, 232);
}

.project-link:hover,
.project-tags:hover {
  background: hsl(234, 30%, 70%);
  border-radius: 5px;
}
